.Cardstack_wrapper {
    /* --card-top-position: 35%; */
    margin-top: 25%;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Cardstack_card_container {
    display: flex;
    justify-content: center;
    touch-action: none;
    position: relative;
    width: 300px;
    height: 450px;
    max-width: calc(100vw - 32px);
    z-index: 999;
}

.Card_wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: var(--card-top-position);
    width: 300px;
    max-width: calc(100vw - 32px);
    height: 450px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 0 5px #fff, 0 5px 10px rgb(0 0 0 / 5%), 0 7px 30px rgb(0 0 0/5%);
    cursor: grab;
    user-select: none;
    /* overflow: hidden; */
}

.Card_container {
    display: flex;
    width: 100%;
    min-width: 300px;
    height: 100%;
    border-radius: 16px;
    background-size: cover!important;
    justify-content: center;
}

.Card_body {
    width: 100%;
    padding: 0 48px 48px;
    margin: auto 0 0;
    color:#2a363b;
}

.Card_body > h2 {
    font-size: 30px;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

.Card_link {
    font-size: .9rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.Card_link > h3:first-child {
    margin-right: 5px;
}

.Card_link_text::after {
    content: '→';
    position: absolute;
    left: 40%; 
    transition: all .75s
    
}

.Card_link:hover > .Card_link_text::after {
    left: 42%;
    transition: all .75s
}

/* .Card_link_text:hover:after {
    left: 45%;
} */

.Card_link > h3 {
    margin: 5px 0 0;
}

.Card_link > h3:last-child {
    transition: .3s;
}

.SwipeTip_container {
    /* top:calc(var(--card-top-position)+200px); */
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.SwipeTip_hand {
    width: 100%;
    font-size: 40px;
    height: 80px;
    /* margin-bottom: 40px; */
}

.SwipeTip_text {
    font-size: calc(.1vw + .7rem);
    margin-top: 0;
    transform: translateY(-20px);
    color: gray;
    margin-bottom: 0;
}

.CardTechStack_Icon {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0px;
    width: 52px;
    height: 40px;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    opacity: 0;
}

.CardTechStack_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* background-color: rgb(255, 255, 255); */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.CardTechStack_container.animated {
    /* background-color: aquamarine; */
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.2) translate(0px, -70px);
    z-index: 1000;
}

.CardTechStack_Icon.animated {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 15px;
    opacity: 1;
}

.Card_wrapper:hover > .CardTechStack_container {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* background-color: aquamarine; */
}

@media (max-width: 475px) {
.Card_wrapper {
    width: 250px;
    height: 378px;
}

.Card_container {
    display: flex;
    width: 250px;
    min-width: 250px;
    /* height: 50%; */
    border-radius: 16px;
    background-size: cover!important;
    justify-content: center;
}

.Card_body {
    width: 100%;
    padding: 0 48px 48px;
    margin: auto 0 0;
    color:#2a363b;
}

.Card_body > h2 {
    font-size: 25px;
}

.Card_body > p {
    font-size: 13px;
}

.Card_link {
    font-size: .7rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.Card_link > h3:first-child {
    margin-right: 5px;
}

.Card_link_text::after {
    content: '→';
    position: absolute;
    left: 40%; 
    transition: all .75s
    
}

.Card_link:hover > .Card_link_text::after {
    left: 42%;
    transition: all .75s
}

.Card_link > h3 {
    margin: 5px 0 0;
}

.Card_link > h3:last-child {
    transition: .3s;
}

}